.App {
  font-family: sans-serif;
  
}

.hi {
  position: absolute;
  top: 300px;
  transition: 1s;
}


.hi-entered {
  transform: translateX(100%);
  right: 300px;
  width: 300px;
  color: red;
  background-color: blue;
}
